<h2>Search Cuisines</h2>
<form action="/cuisines" method="GET">
    <label>Type</label>
    <input type="text" name="type" value="<%= searchOptions.type %>">
    <button type="submit">Search</button>
</form>
<br>
<% cuisines.forEach(cuisine => { %>
    <div> <%= cuisine.type %> </div>
    <a href="/cuisines/<%= cuisine.id %>">View</a>
    <a href="/cuisines/<%= cuisine.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url: `/cuisines/${cuisine.id}` }) %>
<% }) %>