<% if (recipesInCuisine.length > 0) { %>
    <h2 class="header"><%= cuisine.type %> Recipes</h2>
    <div class="flex justify-center">
        <%- include('../partials/showRecipes.ejs', { recipes: recipesInCuisine }) %>
    </div>
<% } %>

<span class="w-full max-w-xs p-4 mt-7 border my-3 rounded-lg shadow sm:p-3 bg-primary-700 border-gray-700 mx-auto flex justify-center">
    <h5 class="py-3 mx-auto text-base font-semibold  md:text-lg text-white text-center">
        <%= cuisine.type %>
    </h5>
    <span class="inline-flex rounded-md shadow-sm mx-auto" role="group">
        <a href="/cuisines/<%= cuisine.id %>/edit" class="px-4 py-4 text-sm font-medium bg-transparent border <%= recipesInCuisine.length <= 0 ? "rounded-l-lg" : "rounded-lg"%>  focus:z-10 focus:ring-2 focus:ring-gray-500  focus:text-white border-white text-white hover:text-white hover:bg-button-600 ">
            <i class="fa-solid fa-pen-to-square"></i>
            Edit
        </a>
        <% if (recipesInCuisine.length <= 0) { %>
            <div class="px-4 py-4 text-sm font-medium bg-transparent border rounded-r-md focus:z-10 focus:ring-2 focus:ring-gray-500  focus:text-white border-white text-white hover:text-white hover:bg-red-500 " >
                <i class="fa-solid fa-trash"></i>
                <%- include('../partials/deleteForm', { url: `/cuisines/${cuisine.id}` }) %>
            </div>  
        <% } %> 
    </span>
</span> 