<h2>Search Recipe</h2>
<form action="/recipes" method="GET">
    <div>
        <label>Name</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
        <label>Ingredients</label>
        <input type="text" id="addIngredient">
        <button type="button" id="addIngBtn" class="btn-primary"> <i class="fa-solid fa-circle-plus"></i> </button>
        <div class="listHolder">
            <ul class="list"></ul>
        </div>
        <input type="hidden" name="rawIng" id="rawIngID" value="<%= searchOptions.rawIng + "," %>">
    </div>
    <div>
        <label>Prep Time</label>
        <input type="number" min="0"  max="30" step="1" autocomplete="off" value="<%= searchOptions.days || 0 %>" name="days" id="time_days"   > d
        <input type="number" min="-1" max="24" step="1" autocomplete="off" value="<%= searchOptions.hours || 0 %>" name="hours" id="time_hours"  > h
        <input type="number" min="-1" max="60" step="1" autocomplete="off" value="<%= searchOptions.minutes || 0 %>" name="minutes" id="time_minutes"> m
    </div>
    <button type="submit">Search</button>
</form>
<br>
<div>
    <% recipes.forEach(recipe => { %>
        <a href="/recipes/<%= recipe.id %> ">
            <img height="150" width="150" alt="avatar"  style="border-radius: 50%;" src="<%= recipe.foodImagePath %> ">
        </a>    
    <% }) %>
</div>