<div class="text-headline">
    <h2 class="header"><%= recipe.title %></h2>
    <img height="150" width="150" alt="avatar"  style="border-radius: 50%;" src="<%= recipe.foodImagePath %> ">
    <div>
        Cuisine: <%= recipe.cuisine.type %> 
    </div>
    <div>
        Ingredients: 
        <% for (let i = 1; i < recipe.ingredients.length; i++) { %>
            <div><%= recipe.ingredients[i] %></div>
        <% } %> 
    </div>
    <div>
        Prep Time:
        <% if (recipe.prepTime[0] === 0) { %> 
            <% if (recipe.prepTime[1] === 0) { %> 
                <%= recipe.prepTime[2] %>m
            <% } else { %>
                <%= recipe.prepTime[1] %>h <%= recipe.prepTime[2] %>m
            <% } %> 
    
        <% } else { %>
            <%= recipe.prepTime[0] %>d <%= recipe.prepTime[1] %>h <%= recipe.prepTime[2] %>m
        <% } %> 
    </div>
    <div>
        Instructions: <%= recipe.instructions %> 
    </div>
    <div>
        Description: <%= recipe.description %> 
    </div>

    <a href="/recipes/<%= recipe.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', { url :`/recipes/${recipe.id}` }) %> 
    <a href="/cuisines/<%= recipe.cuisine.id %>">View Cuisine</a>
</div>