<div class="text-headline ">
    <h2 class="header"><%= recipe.title %></h2>
    
    <div class="flex items-center w-[13rem] pt-4 justify-center mx-[41.4rem]">
        <div>
            <div class="flex items-center w-[8rem] py-2 justify-center mx-auto space-x-11">
                <div class="relative w-full">
                    <div class="absolute inset-y-0 flex items-center justify-center pl-3 pointer-events-none">
                        <i class="fa-solid fa-flag text-gray-400 fa-sm mx-2"></i>
                    </div>
                    <label class="border ustify-center text-center border-headline text-base rounded-lg block w-full p-2.5 bg-primary-700 text-white">
                        <%= recipe.cuisine.type %> 
                    </label>
                </div>
            </div>
            
            <div class="flex items-center py-2 justify-center mx-auto text-gray-300 my-2">
                <ul class="text-sm font-medium border rounded-lg bg-primary-700 border-white text-white inline-block">
                    <div class="relative w-full border-b rounded-t-lg border-gray-600 px-2">
                        <div class="absolute inset-y-0 flex items-center pl-3 pointer-events-none">
                            <i class="fa-solid fa-carrot text-gray-400"></i>
                        </div>
                        <li class="w-full px-4 py-2 ml-3 text-center text-base">Ingredients</li>
                    </div>
                    <% for (let i = 0; i < recipe.ingredients.length - 1; i++) { %>
                        <li class="w-full px-4 py-[0.5px] border-b border-gray-600 flex justify-center align-middle">
                            <p class="py-2 text-center text-sm">
                                <%= recipe.ingredients[i] %>
                            </p>
                        </li>
                    <% } %> 
                    <li class="w-full px-4 py-2 border-b rounded-b-lg border-gray-600 text-center"><%= recipe.ingredients[recipe.ingredients.length - 1] %></li>
                </ul>
            </div>

            <div class="flex items-center w-[13rem] py-2 justify-center mx-auto space-x-11">
                <div class="relative w-full">
                    <div class="absolute inset-y-0 flex items-center pl-3 pointer-events-none">
                        <i class="fa-solid fa-stopwatch text-gray-400 mx-1"></i>
                    </div>
                    <label class="border pl-10 border-headline text-base rounded-lg block w-full p-2.5 bg-primary-700 text-white">
                        Prep Time:
                        <% if (recipe.prepTime[0] === 0) { %> 
                            <% if (recipe.prepTime[1] === 0) { %> 
                                <%= recipe.prepTime[2] %>m
                            <% } else { %>
                                <%= recipe.prepTime[1] %>h <%= recipe.prepTime[2] %>m
                            <% } %> 
                    
                        <% } else { %>
                            <%= recipe.prepTime[0] %>d <%= recipe.prepTime[1] %>h <%= recipe.prepTime[2] %>m
                        <% } %> 
                    </label>
                </div>
            </div>
        </div> 
        
        <div class="my-4 place-items-center rounded-3xl inline-grid mx-8">
            <div
                class="group relative cursor-pointer items-center justify-center w">
                <div class="h-[248px] w-[248px]">
                    <img height="250" width="250"
                        class="h-full w-full rounded-3xl object-cover border-2 border-paragraph-400 "
                        src="<%= recipe.foodImagePath %>" />
                </div>
            </div>
        </div>  
        
        <div class="items-center py-2 justify-center mx-auto text-gray-300 my-2 inline-grid  ">
            <ul class="text-sm font-medium border rounded-lg w-72 bg-primary-700 border-white text-white inline-block my-2">
                <div class="relative w-full border-b rounded-t-lg border-gray-600 px-2">
                    <div class="absolute inset-y-0 flex items-center pl-[4.5rem]">
                        <i class="fa-solid fa-newspaper text-gray-400"></i>
                    </div>
                    <li class="w-full px-4 py-2 ml-3 text-center text-base">Instructions</li>
                </div>
                <li class="w-full px-4 py-2 border-b rounded-b-lg border-gray-600 text-center inline-block">
                    <%= recipe.instructions %> 
                </li>
            </ul>

            <ul class="text-sm font-medium border rounded-lg bg-primary-700 border-white text-white inline-block my-2">
                <div class="relative w-full border-b rounded-t-lg border-gray-600 px-2">
                    <div class="absolute inset-y-0 flex items-center pl-[4.5rem]">
                        <i class="fa-solid fa-pencil text-gray-400"></i>
                    </div>
                    <li class="w-full px-4 py-2 ml-3 text-center text-base">Description</li>
                </div>
                <li class="w-full px-4 py-2 border-b rounded-b-lg border-gray-600 text-center inline-block">
                    <%= recipe.description %> 
                </li>
            </ul>
        </div>
    </div>
 


    <span
        class="w-full max-w-[22rem] border my-5 rounded-xl shadow sm:p-3 bg-primary-700 border-gray-700 mx-auto flex justify-center">
        <span class="inline-flex rounded-md shadow-sm mx-auto py-2" role="group">
            <a href="/cuisines/<%= recipe.cuisine.id %>"
                class="px-3 py-4 text-sm font-medium bg-transparent border rounded-l-lg  focus:z-10 focus:ring-2 focus:ring-gray-500  focus:text-white border-white text-white hover:text-white hover:bg-paragraph-600 ">
                <i class="fa-solid fa-eye"></i>
                View Cuisine
            </a>
            <a href="/recipes/<%= recipe.id %>/edit"
                class="px-4 py-4 text-sm font-medium bg-transparent border-t border-b focus:z-10 focus:ring-2 focus:ring-gray-500  focus:text-white border-white text-white hover:text-white hover:bg-button-600">
                <i class="fa-solid fa-pen-to-square"></i>
                Edit
            </a>
            <div
                class="px-4 py-4 text-sm font-medium bg-transparent border rounded-r-md focus:z-10 focus:ring-2 focus:ring-gray-500  focus:text-white border-white text-white hover:text-white hover:bg-rose-500 ">
                <i class="fa-solid fa-trash"></i>
                <%- include('../partials/deleteForm', { url: `/recipes/${recipe.id}` }) %>
            </div>
        </span>
    </span>
</div>